<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  
</configSections>
<dataConfiguration defaultDatabase="OPSDBConn" />
<connectionStrings>
  <!--<add name="OPSDBConn" connectionString="data source=DESKTOP-ss9RRD569;initial catalog=ops;user id=sa;password=Hotmail@123"
        providerName="system.data.sqlclient" />-->
     <!--<add name="OPSDBConn" connectionString="Data Source=OWNER-PC\MSSQLSERVER14;Initial Catalog=OPS;User ID=sa;Password=Hotmail123"
        providerName="System.Data.SqlClient" />-->
    <add name="OPSDBConn" connectionString="data source=win-2hu8ei96b04;initial catalog=ops;user id=sa;password=Hotmail123"
        providerName="system.data.sqlclient" />
</connectionStrings>
  <appSettings>
    
    <add key="SmtpAddress" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
    <add key="EmailFrom" value="dashamastores@gmail.com"/>
    <add key ="PwdKey" value="knniubnckpioarpm"/>
    
    
    <add key="EmailDistributionList" value="dashamastores@gmail.com,katiraravi@gmail.com,snehakatira@gmail.com,ravikkatira@hotmail.com"/>
    <add key="CompanyName" value="Shree Dashama Stores"/>
  <add key="Address1" value="Sh.No.2 Kaiya Bldg., Murlidhar Jankidas Area"/>
  <add key="Address2" value="Rani Sati Marg, Malad (E), Mumbai"/>
    <add key="Contact" value="Tel: +91 7710027714"/>
    <add key="Tax" value="GST No: 27AMZPM9959R1Z8"/>
    <add key="Website" value="Web Site: https://dashamastores.wordpress.com"/>
    <add key="Note1" value="All prices are including applicable Taxes"/>
    <add key="Note2" value="Please check goods before leaving the counter."/>
    <add key="Advertisement" value="Ayurvedic Doctor Consultancy Available!"/>
    
    
    
  
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
